.card {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: fit-content;
  gap: 16px;
  padding: 40px;
  background-color: white;
  border-radius: 16px;
}

.yellow {
  box-shadow: -25px -24px 0px 1px #fffbec;
}
.pink {
  box-shadow: -25px -24px 0px 1px #f9ecff;
}
.blue {
  box-shadow: -25px -24px 0px 1px #eceeff;
}
